body{
    margin: 0;
    padding: 0;
}
header{
    height:5vh;
    padding: 1%;
    color: white;
    background-color: #C55394;
}
header div{
    float: left;
    margin: 1em 0;
}
header > div a{
    color: white;
    text-decoration: none;
}
header nav{
    width: 25%;
    float: right;
}
header ul > li{
    padding: 0 2%;
    display: inline;
}