body
{
	font-family: Arial, sans-serif;
	color: #333;
	background-image: url(../img/background.png);
}

/* NAV BAR */

.navbar
{
	background-color: #C55394;
	color: #EB43A3;
	margin-bottom: 0;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 10;
}

.navbar-default .navbar-brand
{
	color: #FFF;	
}

.navbar-default .navbar-brand:hover
{
	background-color: #EB43A3;
	color: #FFF;
}

.navbar-default .navbar-nav>li>a
{
	text-transform: uppercase;
	color: #FFF;
}

.navbar-default .navbar-nav>li>a:hover
{
	background-color: #EB43A3;
	color: #FFF;
}

.navbar-header a
{
	font-family: Courgette, cursive;
}

/* FIN NAV BAR */

.contenu{
	margin-top: 50px;
}


/* CONTAINER */

div.titre
{
	background-image: url('../img/rainbow.png');
	background-size:  cover;
	background-repeat: no-repeat;
	width: 400px;
	height: 200px;
	margin: auto;
	margin-bottom: -74px;
}

div.titre h1
{
	font-family: Courgette, cursive;
	color: #C55394;
	text-align: center;
	padding-top: 40px;
}

/* FIN CONTAINER */


/* CONTENENT */

div.main_content
{
	height: auto;
	margin: 0% 5% 5% 5%;
	padding: 20px;
	box-shadow: 0px 0px 22px 0px #656565;
	border-radius: 15px;
	background-color: #FFF;
}

h2
{
	font-family: Courgette, cursive;
	color: #EB43A3;
	margin: 20px 0;
	padding: 35px 0px 10px 0px;
}

i
{
	margin-right: 10px;
}

/* FIN CONTENENT */


/* ARTICLE PRINCIPAL */

article
{
	padding: 5px 0px;
}

/* FIN ARTICLE PRINCIPAL */


/* NOS LICORNES */

div.licorne
{
	text-align: center;
}

figure.zoom
{
	display:inline-block;
	border:0;
	position: relative;
	transition: all 200ms ease-in;
}

figure.zoom:hover
{
    z-index: 2;
	transform: scale(1.05);
}

figure.zoom img{
	width: 100%;
	transition: all 200ms ease-in;
}

figure.zoom img:hover{
    box-shadow: 0px 0px 80px #333;
}

figcaption
{
	background-color: rgba(51, 51, 51, 0.85);
	color: #FFF;
	position: absolute;
	bottom: 0;
	left: 15px;
	right: 15px;
	padding: 5px;
}

/* FIN NOS LICORNES */


/* NOUS TROUVER */

iframe
{
	padding: 10px 20px 20px 0px;
}

h3
{
	font-family: Courgette, cursive;
	color: #EB43A3;
	font-size: 18px;
	padding: 20px 0px 5px 0px; 
}

input[type=email]
{
	width: 50%;
}

input.btn-default
{
	background-color: #C55394;
	color: #FFF;
}

input.btn-default:hover
{
	background-color: #EB43A3;
	color: #FFF;
}

/* FIN NOUS TROUVER */


/* FOOTER */

footer
{
	background-color: #E577B5;
	color: #FFF;
	text-align: right;
	font-size: 12px;
	padding: 10px 5px;
}

footer p 
{
	margin: 0px;
}

/* FIN FOOTER */
