@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    height: 5vh;
    padding: 1%;
    color: white;
    background-color: #C55394;
}

header div {
    margin: 0;
    float: left;
}

header div>h1 {
    margin: 0;
}

header>div a {
    color: white;
    text-decoration: none;
    font-family: 'Courgette', cursive;
}

header nav {
    width: 25%;
    float: right;
}

header ul>li {
    padding: 0 2%;
    display: inline;
}

main {
    padding-top: 5%;
    background-image: url('../img/background.png');
}

main>div>p {
    margin: 0;
    padding: 2% 0;
    color: #C55394;
    text-align: center;
    font-size: xx-large;
    background-size: 20%;
    background-position: 50% 0;
    background-repeat: no-repeat;
    font-family: 'Courgette', cursive;
    background-image: url('../img/rainbow.png');
}

main>div.content {
    margin: 0 20%;
    padding: 2%;
    border-radius: 15px;
    background-color: white;
}

main>div.content p.text {
    font-size: small;
}

main .col-unicorn figure {
    margin: 0 0.5em;
}

main .col-unicorn figure figcaption{
    margin: 0%;
    padding: 2% 0;
    color: white;
    margin-top: -15%;
    position: relative;
    text-align: center;
    background-color: rgb(51 51 51 / 60%)
}

.row {
    display: flex;
}

.row>.col-unicorn img {
    width: 100%;
}

.titlePink {
    color: #C55394;
    font-family: 'Courgette', cursive;
}